<footer class="footer">
  <small>
    The <a href="http://www.hackstay.com/">Hackstay</a>
    by <a href="http://www.michaelwsage.com/">Mike Sage</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.hackstay.com/">News</a></li>
    </ul>
  </nav>
</footer>
